/* Agregados para la estética del menú login */

img.login {
    width: 50px;
}
  
h1#inicio-sesion{
    text-shadow: 1px 1px 1px black;
    font-size: 300%;
}
  
div.container div.login{
    background-color: rgb(208, 235, 255);
    width: 600px;
    height: 430px;
    border-radius: 30px;
    border-style:groove;
}

#enviar{
    font-size: 150%;
}

#login-img{
    width: 650px;
    border-style: outset;
}