/* Agregados para la estética del menú login */

img.login {
    width: 60px;
}
  
h1#inicio-sesion{
    text-shadow: 1px 1px 1px black;
    font-size: 300%;
}
  
div.container div.login{
    background-color: rgb(208, 235, 255);
    width: 70%;
    border-radius: 30px;
    border-style:groove;
}

#login-img{
    border-style: outset;
}